.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.margintop{
    margin-top:9px;
}

.center_div{
    margin: 0 auto;
}

#delete-form{
    display:inline;
}

#campgroundForEach {
    display:flex;
    flex-wrap: wrap;
}