<% include ./partials/header%>
<div class="container">
    <div class="row">
        <div class="container">
        <div class="col-md-3">
            <h1>Login!</h1>
            <form action="/login" method="POST">
                <label for="username">Username</label>
                <input id="usernamel" class="form-control" type="text" name="username" placeholder="username">
                <label for="password">Password</label>
                <input id="password" class="form-control" type="password" name="password" placeholder="password">
                <input class="btn btn-primary margintop" type="submit"  vale="submit">
            </form> 
        </div>
        </div>
    </div>
</div>


<%include ./partials/footer%>