<div class="col-xs-12">
	<div class="jumbotron text-center">
		<h1>Add Item Below</h1>
	</div>
	<form name="groceryForm">


		<div class="alert alert-danger" role="alert" ng-show="groceryForm.$dirty && !groceryForm.$valid">
			<span class="glyphicon glyphicon-exclimation-sign" aria-hidden="true"></span>
			<span class="sr-only">Error</span>
			Enter valid grocery list!
		</div>
		<div class="form-group">
			<input type="text" ng-pattern="/^[a-zA-Z]*$/" required class="form-control" placeholder="Grocery Item" ng-model="groceryItem.itemName">
		</div>

		<div class="form-group">
			<a href="#/" class="btn btn-success btn-lg btn-block" ng-click="groceryForm.$valid && save()">
				<span class="glyphicon glyphicon-pushpin"></span>
				Save
			</a> 
		</div>

		<div class="form-group">
			<a href="#/" class="btn btn-default btn-lg btn-block">
				<span class="glyphicon glyphicon-remove"></span>
				Cancel
			</a> 
		</div>

	</form>
	
	{{rp}}
	
</div>


	<!--
<li class="list-group-item text-center clearfix">
					<button type="button" class="btn btn-sm btn-success pull-left">
						<span class="glyphicon glyphicon-unchecked"></span>
					</button>
					<span style="font-weight:bold">Item 1</span>
					<button type="button" class="btn btn-sm btn-default pull-right">
						<span class="glyphicon glyphicon-pencil"></span>
					</button>
				</li>
				<li class="list-group-item text-center clearfix">
					<button type="button" class="btn btn-sm btn-success pull-left">
						<span class="glyphicon glyphicon-unchecked"></span>
					</button>
					<span style="font-weight:bold">Item 2</span>
					<button type="button" class="btn btn-sm btn-default pull-right">
						<span class="glyphicon glyphicon-pencil"></span>
					</button>
				</li>
				<li class="list-group-item text-center clearfix">
					<button type="button" class="btn btn-sm btn-success pull-left">
						<span class="glyphicon glyphicon-unchecked"></span>
					</button>
					<span style="font-weight:bold">Item 3</span>
					<button type="button" class="btn btn-sm btn-default pull-right">
						<span class="glyphicon glyphicon-pencil"></span>
					</button>
				</li>


			
-->