
<hr />
<h1>{{tutorialObject.title}}</h1>	
<h2>{{tutorialObject.subTitle}}</h2>

<p>Number: {{2+2}}</p>
<p>String: {{tutorialObject.firstname +" "+ tutorialObject.lastname}}</p>
<p><b>Binding: {{tutorialObject.bindOutput | currency:"$":"2"}}</b></p>
<button ng-click="timesTwo()">Multiply</button>
<br />
<br />
<h5>Two Way Binding</h5>
<label >First name</label>
<input ng-model="tutorialObject.firstname">
<br>
<label>Last name</label>
<input ng-model="tutorialObject.lastname">
<br/>
<br/>
<a href="#/tutorialSecond">Link to tutorial Second</a>
